* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page-wrapper {
    display: flex;
}

.sidebar {
    flex: 1 1 30%;
    height: 100vh;
    position: relative;
    background-image: url(./images/leaves.jpg);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 20%;
    opacity: .5;
    background-color: black;
}