* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

@font-face {
    font-family: norseBold;
    src: url(./fonts/Norsebold.otf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

.page-wrapper {
    display: flex;
}

.sidebar {
    flex: 1 1 30%;
    height: 100vh;
    position: relative;
    background-image: url(./images/leaves.jpg);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 20%;
    background: rgba(0, 0, 0, .5);
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.odin-image {
    height: 120px;
    
}

.odin-text {
    font-size: 100px;
    font-family: norseBold;
    color: white;
}