* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

@font-face {
    font-family: norseBold;
    src: url(./fonts/Norsebold.otf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

.page-wrapper {
    display: flex;
}

.sidebar {
    flex: 1 1 35%;
    height: 100vh;
    position: relative;
    background-image: url(./images/leaves.jpg);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 30%;
    background: rgba(0, 0, 0, .5);
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.odin-image {
    height: 120px;
    
}

.odin-text {
    font-size: 100px;
    font-family: norseBold;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEFEF;
    gap: 60px;
    flex: 1 1 65%;
}

.call-to-action, .form-section, .create-account {
    padding-left: 70px;
}


.call-to-action {
    font-size: 28px;
    font-weight: bold;
    max-width: 60%;
}

.call-to-action span {
    display: inline-block;
    margin-top: 30px;
}

.form-section {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
}

.form-header {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    gap: 0px;
}

form div {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin-bottom: 30px;
}

label {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    
}

input {
    max-width: 300px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    outline: none;
}



input[type='password']:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 3px 3px 3px hsl(0deg 0% 0% / 0.3);
}